html, .match-frame {
    margin: 0;
    height: 100%;
}
.match-frame {
    display: grid;
    grid-template-columns: 25% 75%;
}
.match-logo {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.match-logo > img {
    max-width: 100%;
    max-height: 100%
}
.match-participants {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}
.match-participant {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 65% 35%;
}
.match-participant-name {
    grid-column: 1 / 2;

    border-radius: 10vh 0 0 10vh;
    padding-left: 5%;
    background-color: #000066;
    font-size: 25.5vh;
    color: #ddd;
    height: 95%;
    margin-top: 2vh;

    display: flex;
    align-items: center;
}
.match-participant-score {
    grid-column: 2 / 3;

    border-radius: 0 10vh 10vh 0;
    padding-right: 5%;
    background-color: #8dd;
    font-size: 25.5vh;
    color: #000;
    height: 95%;
    margin-top: 2vh;

    display: flex;
    align-items: center;
    justify-content: end;
}